
terraform/azure/terraform.tfstate
terraform/azure/terraform.tfstate.backup
terraform/azure/config.json
terraform/azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.30.0/linux_amd64/terraform-provider-azurerm_v4.30.0_x5
terraform/azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.30.0/linux_amd64/LICENSE.txt
terraform/azure/.terraform/modules/modules.json
terraform/azure/.terraform.lock.hcl
