apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ ingress.name }}
  namespace: {{ ingress.namespace }}
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/rule-type: "PathPrefixStrip"
spec:
  rules:
    - http:
        paths:
          {% for path in ingress.paths %}
          - path: {{ path.path }}
            pathType: {{ path.path_type }}
            backend:
              service:
                name: {{ path.service_name }}
                port:
                  number: {{ path.port }}
          {% endfor %}
